
  h1,h2 {
      margin: 1rem;
  }
  
  h3{
      text-align: center;
      margin-bottom: 2rem;
  }
  p{
      margin:2rem;
  }
  .telefoon {
      font-size: 3em;
      text-align: right;
      margin: 1rem 0 6rem 0;
  }
#about img{
    margin-left:2rem;
    margin-bottom: 2rem;
    margin-top:2rem;
    width: 300px;
    height: 300px;
    object-fit: cover;      
}
ul{
    list-style-type: none;
}
li{
    padding-bottom: 1rem;
}
form {
    margin: 2rem;
}
.form-control, textarea{
    margin-top: 2rem;
    border-radius: 0;
    padding:.375rem .75rem;
    width:100%;
    color: #495057;
}
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */}
