:root {
	--brand-name-color: #fff;
	--nav-color: rgba(255,255,255,.55);
  --main-bg-color: #362525;
  --main-bg-color2: #c5a983;
}

body {
	background-color: var(--main-bg-color2);
	min-height: 100vh;
	height: 100%;
	display:flex;
  flex-direction:column;
}

.navbar-dark {
	background-color: var(--main-bg-color);
}

header {
	margin-bottom: 2rem;
}

.footer {
	background-color: var(--main-bg-color2);
	color: var(--nav-color);
	width: 100%;
	margin-top:auto
}

.iconbar-footer {
	background-color: var(--main-bg-color);
	width: 100%;
}

font-mitral{
	font-family: mitral;
}

@media screen and (max-width: 576px) {

.visibility{
	visibility:hidden;
}
.navbar-nav {
	padding-left:40px;
}

}
